@media only screen and (max-width : 720px) {

    .topbar{
        position: fixed;
        z-index: 99999999999999999;
        width: 100vw;
        height: 50px;
        top:0;
        left: 0;
        background-color: transparent;
    }

    .topbar img{
        position: absolute;
        height: 40px;
        left: 50px;
        top: 5px;
    }
    
    .topbar h1{
        position: absolute;
        height: 40px;
        left: 100px;
        top: -10px;
        font-size: 25px;
    }

    #search{
        display: none;

    }

    .cntn{
        position: relative;
        top: -20px;
        left: -8px;
        width: 100vw;
        height: 650px;
    }

    #bg{
        display: none;
    }
    .cntn img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .l-cntn {
        z-index: 99999;
        position: absolute;
        left: 4%;
        bottom: 50px;
        width: 90%;
        height: 220px;
        text-align: left;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.301);
    }

    .l-cntn a{
        padding: 5px 15px 10px 15px;
        text-decoration: none;
        color: white;
        background-color: black;
        border-radius: 20px;
        position: relative;
        top: 20px;
    }

    .l-cntn a:hover{
        background-color: white;
        color: black;
    }

    .recent{
        position: relative;
        width: 100vw;
        left: -8px;
        padding-bottom: 50px;
    }

    .rbox{
        position: relative;
        width: 90%;
        left: 2%;
        margin-bottom: 20px;
        background-color: white;
        padding: 10px;
        height: 70px;
        color: black
    }

    .scr{
        position: relative;
        top: -5px;
    }


    #limg{
        position: absolute;
        left: 10px;
        height: 60px;
        top: 15px;
    }
    #rimg{
        position: absolute;
        right: 10px;
        height: 60px;
        top: 15px;
    }
}
